* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'IBM Plex Sans', 'Pretendard', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  color: #1f2d3d;
  overflow: hidden;
}
